@charset "UTF-8";

.modal-window {
  position: fixed;
  width: 25vw;
  min-width: 250px;
  min-height: 1px;
  background-color: #ebebeb;
  box-shadow: 4px 4px 7px 3px #bbb;
  border-radius: 5px;
  z-index: 999;
  margin: 0 auto;
  animation-name: modal-window;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-align: center;
}

.modal-window img {
  width: 100%;
}

.modal-window__inner {
  position: relative;
  padding: 20px 5px;
}


.modal-window p {
  text-align: right;
}

@keyframes modal-window {
  0% {
    top: 0;
    transform: scale(0.1);
  }
  100% {
    top: 25%;
    transform: scale(1);
  }
}
